{% extends "dashboard/base.html" %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">$12.34</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Potential growth</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">$17.34</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">+11%</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Revenue current</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">$12.34</h3>
                            <p class="text-danger ml-2 mb-0 font-weight-medium">-2.4%</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-danger">
                            <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Daily Income</h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">$31.53</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                    </div>
                </div>
                <h6 class="text-muted font-weight-normal">Expense current</h6>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Add Category</h4>
                <p class="card-description">Introduce el nombre de la nueva categoria : </p>
                <form class="forms-sample" action="{% url 'add_category' %}" method="post">
                    {% csrf_token %}
                    <div class="form-category">
                        <input type="text" class="form-control" name="category-name" required="True"
                            placeholder="Introduce el nombre aqui">
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">ADD</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Add Post</h4>
                    <p class="card-description text-center">Añade un post rapidamente.</p>
                    <button type="submit" class="btn btn-primary btn-lg btn-block mt-4"data-toggle="modal" data-target="#addPostModal" data-title="Add Post">ADD</button>

                </form>

            </div>
        </div>
    </div>



    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <h4 class="card-title display-5 ml-3">Categories</h4>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-secondary">EDIT</th>
                                <th class="text-secondary">ID</th>
                                <th class="text-secondary">NAME</th>
                                <th class="text-secondary">CREATED</th>
                                <th class="text-secondary">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td><i class="mdi mdi-border-color"></i></td>
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.fecha_creacion }}</td>
                                <td><button type="button" class="btn btn-inverse-primary btn-fw" data-toggle="modal"
                                        data-target="#deleteCategoryModal-{{ category.id }}"
                                        data-title="Delete category {{ category.name }}">Delete</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content pop-up-color">
                <div class="modal-header">
                    <h5 class="modal-title">Add post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="categoria">Categoría:</label>
                            <select id="categoria" name="categoria" class="form-control">
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subcategoria">Subcategoría:</label>
                            <select id="subcategoria" name="subcategoria" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre del post:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% for category in categories %}

    <div class="modal fade" id="deleteCategoryModal-{{ category.id }}" tabindex="-1" role="dialog"
        aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content pop-up-color">
                <div class="modal-header">
                    <h5 class="modal-title">Delete category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'delete_category' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h5>Esta seguro que desea eliminar la categoria {{ category.name }}?</h5>
                        <input type="hidden" name="category-id" value="{{ category.id }}">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endfor %}
</div>



<script>
    $(document).ready(function () {
        $('.modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.data('title');
            var modal = $(this);
            modal.find('.modal-title').text(title);
        });
    });

    
</script>

{% endblock %}