{% load static %}
<nav class="sidebar sidebar-offcanvas sidebar-color" id="sidebar">
  <ul class="nav mt-4">


    <li class="nav-item py-3 {% if request.resolver_match.url_name == 'general' %}active{% endif %}">
      <a class="nav-link" href="{% url 'dashboard'  %}">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">General</span>
      </a>
    </li>
    

    
    <li class="nav-item py-3 {% if request.resolver_match.url_name == 'blog' %}dropdown show active{% else %}dropdown{% endif %}">
      <a class="nav-link" href="{% url 'blog'  %}" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Blog</span>
      </a>
    </li>
    {% if request.resolver_match.url_name == 'blog' or request.resolver_match.url_name == 'blog-category' or request.resolver_match.url_name == 'post' %}
    <div class="my-2 show">
      {% for category in categories %}
      <a class="nav-link ml-4" href="{% url 'blog-category' category_id=category.id %}">{{ category.name }}</a>
      {% endfor %}
    </div>
    {% endif %}
    
    

    <li class="nav-item py-3">
      <a class="nav-link" href="#">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Logs</span>
      </a>
    </li>
    

    <li class="nav-item py-3 {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
      <a class="nav-link" href="#">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Settings</span>
      </a>
    </li>
    

  </ul>
</nav>