{% load static %}
<nav class="sidebar sidebar-offcanvas sidebar-color" id="sidebar">
  <ul class="nav mt-4">


    <li class="nav-item py-3 {% if request.resolver_match.url_name == 'general' %}active{% endif %}">
      <a class="nav-link" href="{% url 'dashboard'  %}">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">General</span>
      </a>
    </li>
    

    
    <li class="nav-item py-3 {% if request.resolver_match.url_name == 'categories' %}active{% endif %}">
      <a class="nav-link" href="{% url 'blog'  %}">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Blog</span>
      </a>
    </li>




    <li class="nav-item py-3 {% if request.resolver_match.url_name == 'logs' %}active{% endif %}">
      <a class="nav-link" href="#">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Logs</span>
      </a>
    </li>
    

    <li class="nav-item py-3 {% if request.resolver_match.url_name == 'options' %}active{% endif %}">
      <a class="nav-link" href="#">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Options</span>
      </a>
    </li>
    

  </ul>
</nav>